[main]
instance_id = {{ trickster_main_instance_id }}
config_handler_path = '{{ trickster_main_config_handler_path }}'
ping_handler_path = '{{ trickster_main_ping_handler_path }}'


[frontend]
listen_port = {{ trickster_frontend_listen_port }}
listen_address = '{{ trickster_frontend_listen_address }}'
tls_listen_address = '{{ trickster_frontend_tls_listen_address }}'
tls_listen_port = {{ trickster_frontend_tls_listen_port }}
connections_limit = {{ trickster_frontend_connections_limit }}

{% if trickster_caches is defined and trickster_caches is iterable %}
[caches]
{% for item in trickster_caches %}
    [caches.{{ item.cache }}]
{% if item.config is defined and item.config is iterable %}
{% for items in item.config %}
    {{ items }}
{% endfor %}
{% endif %}
{% if item.index is defined and item.index is iterable %}
      [caches.{{ item.cache }}.index]
{% for items in item.index %}
      {{ items }}
{% endfor %}
{% endif %}
{% if item.redis is defined and item.redis is iterable %}
      [caches.{{ item.cache }}.redis]
{% for items in item.redis %}
      {{ items }}
{% endfor %}
{% endif %}
{% if item.bbolt is defined and item.bbolt is iterable %}
      [caches.{{ item.cache }}.bbolt]
{% for items in item.bbolt %}
      {{ items }}
{% endfor %}
{% endif %}
{% if item.badger is defined and item.badger is iterable %}
      [caches.{{ item.cache }}.badger]
{% for items in item.index %}
      {{ items }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

{% if trickster_origins is defined and trickster_origins is iterable %}
[origins]
{% for item in trickster_origins %}
    [origins.{{ item.origin }}]
{% if item.config is defined and item.config is iterable %}
{% for items in item.config %}
    {{ items }}
{% endfor %}
{% endif %}
{% if item.tls is defined and item.tls is iterable %}
      [origins.{{ item.origin }}.tls]
{% for items in item.tls %}
      {{ items }}
{% endfor %}
{% endif %}
{% if item.paths is defined and item.paths is iterable %}
{% for path in item.paths %}
      [origins.{{ item.origin }}.{{ path }}]
{% for item in item.paths[path] %}
        {{ item }}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

{% if trickster_tracing is defined and trickster_tracing is iterable %}
[tracing]
{% for item in trickster_tracing %}
    [tracing.{{ item.tracing }}]
{% if item.config is defined and item.config is iterable %}
{% for items in item.config %}
    {{ items }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}


[metrics]
listen_port = {{ trickster_metrics_listen_port }}
listen_address = '{{ trickster_metrics_listen_address }}'

[logging]
log_level = '{{ trickster_logging_log_level }}'
#log_file = '/some/path/to/trickster.log'
